body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
	background-color: linen;
}

hr {
     height: 1.5px;
     background-color: grey;
     color: grey;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #000000;
    text-transform: uppercase;
}

a:active {
    text-decoration: none;
    color: #000000;
}

.title-logo {
	margin-top: 20px;
}

.title-super {
	font-size: 60px;
}

.header {
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.footer {
	border-top-color: #000000;
	border-top-style: solid;
	padding-top: 15px;
	margin-top: 15px;
	text-transform: uppercase;

}

.text-muted {
	color: #747704;
}

.text-bold {
	font-weight: bold;

}

.modal-text {
	color: #000000;
	font-weight: 300;

}
