body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
	background-color: linen;
}

.title-logo {
	margin-top: 20px;
}

.title-super {
	font-size: 60px;
}

.text-muted {
	color: #BCBBBB
}

.text-thin {
	font-weight: 100;
}

.footer {
	margin-bottom: 20px;
	color: black;
}
